In [7]:
!wget http://www2.informatik.uni-freiburg.de/~cziegler/BX/BX-CSV-Dump.zip

--2020-02-18 21:23:13--  http://www2.informatik.uni-freiburg.de/~cziegler/BX/BX-CSV-Dump.zip
Resolving www2.informatik.uni-freiburg.de (www2.informatik.uni-freiburg.de)... 132.230.105.133
Connecting to www2.informatik.uni-freiburg.de (www2.informatik.uni-freiburg.de)|132.230.105.133|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26085508 (25M) [application/zip]
Saving to: ‘BX-CSV-Dump.zip’

BX-CSV-Dump.zip     100%[===================>]  24.88M  17.7MB/s    in 1.4s

2020-02-18 21:23:14 (17.7 MB/s) - ‘BX-CSV-Dump.zip’ saved [26085508/26085508]

In [8]:
!unzip /content/BX-CSV-Dump.zip

Archive:  /content/BX-CSV-Dump.zip
replace BX-Book-Ratings.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: BX-Book-Ratings.csv
replace BX-Books.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [0]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [10]:
rating = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
user = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
book = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1")

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [0]:
book_rating = pd.merge(rating, book, on='ISBN')

In [0]:
cols = ['Year-Of-Publication', 'Publisher', 'Book-Author', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']
book_rating.drop(cols, axis=1, inplace=True)

In [0]:
rating_count = (book_rating.
     groupby(by = ['Book-Title'])['Book-Rating'].
     count().
     reset_index().
     rename(columns = {'Book-Rating': 'RatingCount_book'})
     [['Book-Title', 'RatingCount_book']]
    )

In [15]:
threshold = 25
rating_count = rating_count.query('RatingCount_book >= @threshold')

user_rating = pd.merge(rating_count, book_rating, left_on='Book-Title', right_on='Book-Title', how='left')

user_count = (user_rating.
     groupby(by = ['User-ID'])['Book-Rating'].
     count().
     reset_index().
     rename(columns = {'Book-Rating': 'RatingCount_user'})
     [['User-ID', 'RatingCount_user']]
    )
    
threshold = 20
user_count = user_count.query('RatingCount_user >= @threshold')

combined = user_rating.merge(user_count, left_on = 'User-ID', right_on = 'User-ID', how = 'inner')

print('Number of unique books: ', combined['Book-Title'].nunique())
print('Number of unique users: ', combined['User-ID'].nunique())

Number of unique books:  5850
Number of unique users:  3192

In [0]:
scaler = MinMaxScaler()
combined['Book-Rating'] = combined['Book-Rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(combined['Book-Rating'].values.reshape(-1,1)))
combined['Book-Rating'] = rating_scaled

In [17]:
combined = combined.drop_duplicates(['User-ID', 'Book-Title'])
user_book_matrix = combined.pivot(index='User-ID', columns='Book-Title', values='Book-Rating')
user_book_matrix.fillna(0, inplace=True)
users = user_book_matrix.index.tolist()
books = user_book_matrix.columns.tolist()
user_book_matrix = user_book_matrix.as_matrix()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [0]:
num_input = combined['Book-Title'].nunique()
num_hidden_1 = 10
num_hidden_2 = 5

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

In [0]:
def encoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

def decoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

In [0]:
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)
y_pred = decoder_op
y_true = X

In [21]:
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(0.03).minimize(loss)
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/losses/losses_impl.py:121: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/training/rmsprop.py:119: calling Ones.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/metrics_impl.py:2026: div (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Deprecated in favor of operator or tf.math.divide.

In [0]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()
pred_data = pd.DataFrame()

In [23]:
with tf.Session() as session:
    epochs = 100
    batch_size = 35

    session.run(init)
    session.run(local_init)

    num_batches = int(user_book_matrix.shape[0] / batch_size)
    user_book_matrix = np.array_split(user_book_matrix, num_batches)
    
    for i in range(epochs):

        avg_cost = 0
        for batch in user_book_matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("epoch: {} Loss: {}".format(i + 1, avg_cost))

    user_book_matrix = np.concatenate(user_book_matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: user_book_matrix})

    pred_data = pred_data.append(pd.DataFrame(preds))

    pred_data = pred_data.stack().reset_index(name='Book-Rating')
    pred_data.columns = ['User-ID', 'Book-Title', 'Book-Rating']
    pred_data['User-ID'] = pred_data['User-ID'].map(lambda value: users[value])
    pred_data['Book-Title'] = pred_data['Book-Title'].map(lambda value: books[value])
    
    keys = ['User-ID', 'Book-Title']
    index_1 = pred_data.set_index(keys).index
    index_2 = combined.set_index(keys).index

    top_ten_ranked = pred_data[~index_1.isin(index_2)]
    top_ten_ranked = top_ten_ranked.sort_values(['User-ID', 'Book-Rating'], ascending=[True, False])
    top_ten_ranked = top_ten_ranked.groupby('User-ID').head(10)

epoch: 1 Loss: 0.3645647420332982
epoch: 2 Loss: 0.2999784617306112
epoch: 3 Loss: 0.06701131550605399
epoch: 4 Loss: 0.0038423977720622835
epoch: 5 Loss: 0.0033968388957513885
epoch: 6 Loss: 0.00327473505947657
epoch: 7 Loss: 0.0029633704299148133
epoch: 8 Loss: 0.0027524603026724613
epoch: 9 Loss: 0.002737644351097745
epoch: 10 Loss: 0.002727613451757601
epoch: 11 Loss: 0.0027202044864400076
epoch: 12 Loss: 0.002714506482224461
epoch: 13 Loss: 0.002709989890118467
epoch: 14 Loss: 0.0027063238705702865
epoch: 15 Loss: 0.0027032906181885153
epoch: 16 Loss: 0.0027007408514311843
epoch: 17 Loss: 0.002698568807618058
epoch: 18 Loss: 0.002696697364796649
epoch: 19 Loss: 0.002695069127654718
epoch: 20 Loss: 0.002693640382878564
epoch: 21 Loss: 0.0026923772331409073
epoch: 22 Loss: 0.00269125313830695
epoch: 23 Loss: 0.0026902468122828463
epoch: 24 Loss: 0.002689341142016289
epoch: 25 Loss: 0.0026885221960473355
epoch: 26 Loss: 0.0026877784044840015
epoch: 27 Loss: 0.0026871001777740624
epoch: 28 Loss: 0.0026864793566106766
epoch: 29 Loss: 0.002685909233680302
epoch: 30 Loss: 0.0026853839754239542
epoch: 31 Loss: 0.0026848985056218866
epoch: 32 Loss: 0.0026844486525118513
epoch: 33 Loss: 0.0026840307765159306
epoch: 34 Loss: 0.002683641649987344
epoch: 35 Loss: 0.0026832785390849623
epoch: 36 Loss: 0.0026829389990870277
epoch: 37 Loss: 0.002682620910211251
epoch: 38 Loss: 0.0026823223356137074
epoch: 39 Loss: 0.0026820416275698403
epoch: 40 Loss: 0.0026817772739597566
epoch: 41 Loss: 0.002681527856051676
epoch: 42 Loss: 0.0026812921866651747
epoch: 43 Loss: 0.0026810691515393144
epoch: 44 Loss: 0.0026808577298012737
epoch: 45 Loss: 0.0026806570182728406
epoch: 46 Loss: 0.0026804661777402672
epoch: 47 Loss: 0.002680284516108069
epoch: 48 Loss: 0.0026801112734784302
epoch: 49 Loss: 0.0026799458844055024
epoch: 50 Loss: 0.002679787801353486
epoch: 51 Loss: 0.0026796364230564336
epoch: 52 Loss: 0.0026794913222317348
epoch: 53 Loss: 0.0026793520818310943
epoch: 54 Loss: 0.002679218319347026
epoch: 55 Loss: 0.0026790896509927544
epoch: 56 Loss: 0.0026789659168571234
epoch: 57 Loss: 0.002678846761297721
epoch: 58 Loss: 0.0026787321293051097
epoch: 59 Loss: 0.0026786219799420337
epoch: 60 Loss: 0.0026785161967931704
epoch: 61 Loss: 0.0026784147005425867
epoch: 62 Loss: 0.002678317395243589
epoch: 63 Loss: 0.0026782240199211696
epoch: 64 Loss: 0.0026781342944109834
epoch: 65 Loss: 0.002678047929593659
epoch: 66 Loss: 0.002677964647863429
epoch: 67 Loss: 0.002677884111487931
epoch: 68 Loss: 0.0026778062181240254
epoch: 69 Loss: 0.0026777307183103085
epoch: 70 Loss: 0.002677657498190036
epoch: 71 Loss: 0.002677586461816515
epoch: 72 Loss: 0.002677517467188639
epoch: 73 Loss: 0.0026774505079099602
epoch: 74 Loss: 0.0026773855379260665
epoch: 75 Loss: 0.002677322539326909
epoch: 76 Loss: 0.002677261510833197
epoch: 77 Loss: 0.00267720237057042
epoch: 78 Loss: 0.0026771451991337994
epoch: 79 Loss: 0.0026770899223245597
epoch: 80 Loss: 0.002677036460826767
epoch: 81 Loss: 0.0026769846931079424
epoch: 82 Loss: 0.002676934534734995
epoch: 83 Loss: 0.0026768858270760586
epoch: 84 Loss: 0.0026768385189595623
epoch: 85 Loss: 0.0026767923417347636
epoch: 86 Loss: 0.002676747372159018
epoch: 87 Loss: 0.002676703381239549
epoch: 88 Loss: 0.0026766603382734153
epoch: 89 Loss: 0.002676618207440517
epoch: 90 Loss: 0.002676576846739748
epoch: 91 Loss: 0.002676536210116695
epoch: 92 Loss: 0.002676496266868416
epoch: 93 Loss: 0.0026764569504718694
epoch: 94 Loss: 0.0026764181150880817
epoch: 95 Loss: 0.002676379863060192
epoch: 96 Loss: 0.0026763420191255735
epoch: 97 Loss: 0.0026763047444746716
epoch: 98 Loss: 0.002676267954674396
epoch: 99 Loss: 0.0026762318096359024
epoch: 100 Loss: 0.0026761964961354223

In [24]:
top_ten_ranked.loc[top_ten_ranked['User-ID'] == 278582]

          User-ID  ... Book-Rating
18660405   278582  ...    0.074489
18659952   278582  ...    0.062150
18660710   278582  ...    0.047383
18657487   278582  ...    0.046128
18657491   278582  ...    0.044366
18656352   278582  ...    0.041941
18658056   278582  ...    0.041839
18657493   278582  ...    0.039808
18660634   278582  ...    0.038335
18661051   278582  ...    0.037887

[10 rows x 3 columns]

In [25]:
book_rating.loc[book_rating['User-ID'] == 278582].sort_values(by=['Book-Rating'], ascending=False)

        User-ID  ...                                         Book-Title
174885   278582  ...         Chinese Bell Murders (Judge Dee Mysteries)
176582   278582  ...                               Skin Deep, Blood Red
40008    278582  ...   The Left Hand of Darkness (Remembering Tomorrow)
174861   278582  ...                                 Search the Shadows
58156    278582  ...                    The Songcatcher: A Ballad Novel
64570    278582  ...  The No. 1 Ladies' Detective Agency (Today Show...
175958   278582  ...                                The Mists of Avalon
176314   278582  ...  Murdering Mr. Monti: A Merry Little Tale of Se...
174877   278582  ...                                  Blanche Cleans Up
176438   278582  ...                 The Cat Who Brought Down the House
176503   278582  ...  Cetaganda (Bujold, Lois Mcmaster. Vorkosigan A...
176484   278582  ...                            Service of All the Dead
176187   278582  ...  Imitation in Death (Eve Dallas Mysteries (Pape...
175949   278582  ...                               From Doon With Death
176263   278582  ...  Brunswick Gardens (Charlotte &amp; Thomas Pitt...
176290   278582  ...              One Fine Day the Rabbi Bought a Cross
176305   278582  ...                                Incident at Badamya
174882   278582  ...                                  Blanche Passes Go
176584   278582  ...     Daddy's Gone A-Hunting (Wesley Farrell Novels)
176572   278582  ...                            The Jewel That Was Ours
23996    278582  ...                                  I Is for Innocent
60802    278582  ...                                  Two for the Dough
108791   278582  ...                                Death of a Stranger
176517   278582  ...                          Maggody and the Moonbeams
174895   278582  ...                                    The Venus Throw
175303   278582  ...                  Seven Up (A Stephanie Plum Novel)
175596   278582  ...  Hard Eight : A Stephanie Plum Novel (A Stephan...
176171   278582  ...                                      The Wife Test
176139   278582  ...                                   Holiday in Death
176562   278582  ...                              CSI, Miami: Heat Wave
176567   278582  ...  Over the Wine-Dark Sea (Hellenistic Seafaring ...
175905   278582  ...              To the Nines (A Stephanie Plum Novel)
176255   278582  ...                                       Indigo Dying
175763   278582  ...         One for the Money (A Stephanie Plum Novel)
175506   278582  ...         Full Speed (Janet Evanovich's Full Series)
174867   278582  ...                                         Hang Loose
176571   278582  ...  The Gryphon's Skull (Hellenistic Seafaring Adv...
176389   278582  ...  Flatland: A Romance of Many Dimensions (Dover ...
176565   278582  ...  Law and Order Deadline : An Original Law and O...
176486   278582  ...                                         Antarctica
176579   278582  ...                             The Body in Four Parts
176385   278582  ...                                  Thieves' Paradise
176524   278582  ...   Without Pity : Ann Rule's Most Dangerous Killers
14574    278582  ...             Four To Score (A Stephanie Plum Novel)
176331   278582  ...                     Black Hawk Down (Movie Tie-in)
17190    278582  ...  Justice Hall: A Mary Russell Novel (Mary Russe...
175758   278582  ...               A Grave Denied (A Kate Shugak Novel)
175103   278582  ...  Hot Six : A Stephanie Plum Novel (A Stephanie ...
174902   278582  ...                 High Five (A Stephanie Plum Novel)
174891   278582  ...             The Sword of Samurai Cat (Tor Fantasy)
174890   278582  ...                                        Great Harry
174869   278582  ...                   Blanche Among the Talented Tenth
174852   278582  ...                              Children of the Storm
174815   278582  ...     A Greek God at the Ladies' Club (Avon Romance)
174814   278582  ...                                  All Shall Be Well
174809   278582  ...                                   A Share in Death
116741   278582  ...               The Golden One : A Novel of Suspense
46554    278582  ...  Three To Get Deadly : A Stephanie Plum Novel (...
24674    278582  ...                                       Black Notice
175760   278582  ...            Out on a Limb (A Claire Malloy Mystery)

[60 rows x 4 columns]